In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# montar datos
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
school=pd.read_csv('/content/drive/MyDrive/ PTCienciaDeDatos/PandasParaManipulacioÃÅnDeDatos/School_Details.csv')
df=school
df

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38680555556,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,Yoksam-Tashiding,...,29221,45.0,4.0,5.0,Recognized,STATE GOVERNMENT,NaN,Class 1,Class 5,NaN
1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,Yoksam-Tashiding,...,38508,52.0,2.0,5.0,Recognized,STATE GOVERNMENT,NaN,Class 1,Class 5,C.B.S.E.
1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,Yoksam-Tashiding,...,38754.66805555556,0.0,0.0,0.0,Recognized,GOVT. OF SIKKIM,NaN,Class 1,Class 5,NaN
1247,West,S0340,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TING TING GAON,Gyalshing,Yoksam-Tashiding,...,29587,36.0,3.0,6.0,Recognized,STATE GOVERNMENT,NaN,Class 1,Class 5,NaN
1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,Yoksam-Tashiding,...,28176,40.0,7.0,8.0,Recognized,State Government,NaN,Class 1,Class 5,C.B.S.E.

In [7]:
facilities=pd.read_csv('/content/drive/MyDrive/ PTCienciaDeDatos/PandasParaManipulacioÃÅnDeDatos/School_Facility_Details.csv')
df1=facilities
df1

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...
1251,S0723,ZEEL GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,4,Available,Available,1,Not Available,Not Available
1252,S0990,ZENITH PUBLIC SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
1253,S0138,ZINGLA GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
1254,S0185,ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL,Available,0,Available,5,Not Available,Available,1,Not Available,Not Available
1255,S0267,ZOOM GOVERNMENT SECONDARY SCHOOL,Not Available,0,Available,6,Available,Available,1,Available,Not Available

In [8]:
#creando el motor
engine=create_engine('sqlite:///df.db', echo=True)
#creando la conexion
conn=engine.connect()

In [9]:
sqlite_table="school_one"
df.to_sql(sqlite_table, conn, if_exists='fail')

2022-04-04 00:17:38,151 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_one")
2022-04-04 00:17:38,153 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-04 00:17:38,156 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_one")
2022-04-04 00:17:38,160 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-04 00:17:38,172 INFO sqlalchemy.engine.Engine
CREATE TABLE school_one (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-04-04 00:17:38,174 INFO sqlalchemy.engine.Engine [no key 0.00150s] ()
2022-04-04 00:17:38,192 INFO sqlalchemy.engine.Engine COMMIT
2022-04-04 00:17:38,195 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_one_index ON school_one ("index")
2022-04-04 00:17:38,197 INFO sqlalchemy.engine.Engine [no key 0.00252s] ()
2022-04-04 00:17:38,211 INFO sqlalchemy.engine.Engine COMMIT
2022-04-04 00:17:38,223 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-04 00:17:38,296 INFO sqlalchemy.engine.Engine INSERT INTO school_one ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-04 00:17:38,297 INFO sqlalchemy.engine.Engine [generated in 0.06514s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-04-04 00:17:38,335 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
#creando el motor facilities
engine2=create_engine('sqlite:///df1.db', echo=True)
#creando la conexion
conn=engine2.connect()

In [ ]:
sqlite_table="facilities_one"
df.to_sql(sqlite_table, conn, if_exists='fail')

#1. What is the average BACDistance (in Km)? Rename the ouptut column to "avg_bac_distance."

In [11]:
sql="""
Select EstablishmentName
, avg([BACDistance (in Km)]) as avg_bac_distance
from school_one
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql.head()

2022-04-04 00:17:45,764 INFO sqlalchemy.engine.Engine
Select EstablishmentName
, avg([BACDistance (in Km)]) as avg_bac_distance
from school_one

2022-04-04 00:17:45,768 INFO sqlalchemy.engine.Engine [raw sql] ()

                 EstablishmentName  avg_bac_distance
0  TSONG GOVERNMENT PRIMARY SCHOOL         12.681822

# 2. ¬øCu√°l es el BACDistance promedio (en km) seg√∫n nivel educativo del colegio?  Ordena los resultados de promedio mayor a promedio menor.

In [12]:
sql="""
Select SchoolLevel
, avg([BACDistance (in Km)]) 
from school_one
order by SchoolLevel DESC
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql.head()

2022-04-04 00:17:48,393 INFO sqlalchemy.engine.Engine
Select SchoolLevel
, avg([BACDistance (in Km)])
from school_one
order by SchoolLevel DESC

2022-04-04 00:17:48,397 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg([BACDistance (in Km)])
0          PS                   12.681822

# 3. Repite la consulta anterior, pero solo muestra los resultados donde la distancia promedio sea menor a 10 km.

In [13]:
sql="""
Select SchoolLevel
, avg([BACDistance (in Km)])<10
from school_one
order by SchoolLevel DESC
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql.head()

2022-04-04 00:17:53,533 INFO sqlalchemy.engine.Engine
Select SchoolLevel
, avg([BACDistance (in Km)])<10
from school_one
order by SchoolLevel DESC

2022-04-04 00:17:53,535 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg([BACDistance (in Km)])<10
0          PS                              0

#4. Une las dos tablas (detalles de colegios y detalles de instalaciones de los colegios). Comienza mostrando todas las columnas, pero limita las filas resultantes a solo 2.

In [14]:
sql="""
Select *
from school_one, facilities_one
limit 2
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql

2022-04-04 00:17:55,974 INFO sqlalchemy.engine.Engine
Select *
from school_one, facilities_one
limit 2

2022-04-04 00:17:55,980 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.

#5. Ahora, solo selecciona colegios donde el nivel de este sea Escuela Primaria y que no tengan biblioteca.

In [27]:
facilities["IsLibraryAvailable"].unique()

array(['Not Available', 'Available'], dtype=object)

In [ ]:
sql="""
Select EstablishmentName
from school_one, facilities_one
where SchoolLevel = "PS" and IsLibraryAvailable = "Not Available"
limit 5
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql.head()

#6. Toma la consulta anterior, pero ordena los resultados en orden alfab√©tico por nombre.

In [ ]:
sql="""
Select EstablishmentName
from school_one, facilities_one
where SchoolLevel = "PS" AND IsLibraryAvailable = "Not Available"
order by EstablishmentName ASCD
limit 5
"""
df_sql=pd.read_sql_query(sql,engine)
df_sql.head()